.button{
background-color: #F28D35;
width: fit-content;
height: 38px;
border: 0;
border-radius: 4px;
padding-top:12px ;
padding-bottom: 12px;
padding-left:20px ;
padding-right:20px ;
gap: 8px;
font-family: 'Inter', sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
display: flex;
justify-content:space-between;
white-space: nowrap;
cursor: pointer;
}

.button:hover {
    background-color: #dd8e49;

}

.button:active {
    background-color: #a35007;

}