
 body{
  align-items: center;
  position: relative;

}

.App {
  width:1440px;
  background-color:#FFFFFF ;
  padding-left: 0px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}
 

 
